body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  background-color: #024059;

}
.leaflet-container {
  justify-content: center;
  display: flex;
  margin-top: 10px;
  width: 75%;
  height: 75vh;
}
